.env
venv/
pycache/
*/__pycache__/
*.pyc
node_modules/
.storyboard_outputs/
*.mp4
*.pptx
*.log
.DS_Store
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
